/* Overlay làm mờ nền phía sau */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen mờ */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Đảm bảo nổi lên trên cùng */
  animation: fadeIn 0.2s ease-out;
}

/* Hộp thoại chính */
.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: scaleUp 0.2s ease-out;
  
}

.iconWrapper {
  font-size: 3rem;
  color: #d82c2c;
  margin-bottom: 16px;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 8px;
}

.message {
  font-size: 1.2rem;
  color: #6b7280;
  margin-bottom: 24px;
  line-height: 1.5;
}

.buttonGroup {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

/* Nút Hủy */
.btnCancel {
  background: white;
  border: 1px solid #d1d5db;
  color: #374151;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.2rem;
  &:hover {
    background: #f3f4f6;
  }
}

/* Nút Xóa (Nguy hiểm) */
.btnConfirm {
  background: #d82c2c;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(216, 44, 44, 0.3);
  transition: all 0.2s;
  font-size: 1.2rem;
  &:hover {
    background: #b91c1c;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.success {
  color: #28a745;
}
.btnSuccess {
  background-color: #28a745;
  box-shadow: 0 2px 4px rgba(40, 167, 69, 0.3);

  &:hover {
    background-color: #218838; // xanh đậm hơn
  }
}
