.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem 0rem 1.5rem;
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;

  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0px;

    .logo-text {
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      .logo-text-top {
        font-size: 26px;
        color: #000000;
        font-weight: 600;
      }

      .logo-text-bottom {
        font-size: 18px;
        color: #808291;
        margin-top: 2px;
        font-weight: normal;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: #333;

    img {
      width: 64px;
      height: 64px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      border: 1px solid #ddd;
      object-fit: cover;
      cursor: pointer;
    }

    .notification {
      width: 26px;
      height: 26px;
      cursor: pointer;
    }

    &-info {
      display: flex;
      flex-direction: column;
      line-height: 1.2;

      .name {
        font-size: 22px;
        font-weight: 600;
        color: #000000;
      }

      .role {
        font-size: 16px;
        color: #808291;
        margin-top: 2px;
      }
    }
  }

  .nav-bottom {
    /* Tràn full ngang ra ngoài padding của .navbar */
    width: calc(100% + 3rem);      // 1.5rem + 1.5rem (padding trái/phải của .navbar)
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    /* Padding bên trong nav-bottom (giữ cả trên và dưới) */
    padding: 10px 1.5rem;          // trên/dưới 10px, trái/phải 1.5rem

    /* Đường kẻ */
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
    
    .navbar__menu {
      display: flex;
      gap: 48px;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        cursor: pointer;
        color: #808291;
        font-size: 20px;
        transition: color 0.2s ease;
        display: flex;
        gap: 8px;
        position: relative;

        .menu-icon {
          width: 26px;
          height: 26px;
          transition: color 0.2s ease;
          margin-top: 3px; 
          stroke: #808291;           
          fill: none;  
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;                      
          width: 0%;
          height: 3px;
          background-color: #2563EB;         
          transition: width 0.25s ease;
          border-radius: 2px;
        }
        
        &:hover,
        &.active {
          color: #2563EB;

          .menu-icon {
            stroke: #2563EB;
            fill: none;  
          }

          &::after {
            width: 100%;                     
          }
        }
      }
    }
  }
}
